
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="" data-target="#edit">Product Edition</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="" data-target="#list" >List of Products</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="edit">
        <div ng-include="'/assets/admin/product/_form.html'"></div>
    </div>
    <div class="tab-pane fade" id="list">
        <div ng-include="'/assets/admin/product/_table.html'"></div>
    </div>
</div>