<!-- <div xmlns:th="http://www.thymeleaf.org"> -->
<!--   <div class="panel panel-primary"> -->
<!--     <div class="panel-body text-center"> -->
<!--       <i class="glyphicon glyphicon-shopping-cart" style="font-size:25px; color:orange;"></i> -->
<!--       <a th:href="@{/cart/view}">{{cart.count}} items x ${{cart.amount | number : 2}}</a> -->
<!--     </div> -->
<!--   </div> -->
<!--   </div> -->

<!--   <div class="card mb-2 "> -->
<!-- 	<div class="card-body text-center"> -->
<!-- 		<i><i class="fas fa-shopping-cart" style="color: orange; font-size: 25px;"></i></i> -->
<!-- 		<a th:href="@{/cart/view}">{{cart.count}} item x {{cart.amount | number : 2}}</a> -->
<!-- 	</div> -->
<!-- </div> -->

<!--               <form th:action="@{/search}"> -->
<!--                           <div class="form-inline"> -->
<!--                             <label for="name">Name</label> -->
<!--                             <input type="text" class="form-control ml-2" name="name" -->
<!--                              id="name" aria-describedby="helpId" placeholder="name"> -->
<!--                             <button class="btn btn-outline-primary ml-2">search</button> -->
<!--                           </div> -->
<!--                         </form> -->
                        
 <div class="card mb-2 ">
	<div class="card-body">
	 <form th:action="@{/search}">
        <div class="form-inline">
               <input type="text" class="form-control ml-2" name="name"
                  id="name" aria-describedby="helpId" placeholder="Product Search">
                 <button class="btn btn-outline-primary mt-2 ml-2">search</button>
           </div>
       </form>
		
	</div>
</div>