
 <div class="card border-info">
	<div class="card-header border-info bg-info">
		Danh mục
	</div>
	<div class="card-body p-0">
    <div class="list-group">
      <a th:each="c : ${cates}" th:href="@{|/product/list?cid=${c.id}|}" 
      class="list-group-item">[[${c.name}]]</a>
    </div>
    </div> 
     

