<!-- <div xmlns:th="http://www.thymeleaf.org"> -->
<!-- <nav class="navbar navbar-inverse" style="font-variant:small-caps;"> -->
<!--     <div class="container-fluid"> -->
<!--         <div class="navbar-header"> -->
<!--             <a class="navbar-brand" href="#">WebSiteName</a> -->
<!--         </div> -->
<!--         <ul class="nav navbar-nav"> -->
<!--             <li class="active"><a th:href="@{/product/list}">Home</a></li> -->
<!--             <th:block th:if="${#request.remoteUser}"> -->
             
<!--               <li><a th:href="@{/security/logoff}">Sign Out</a></li> -->
<!--               <li><a th:href="@{/order/list}">Your Orders</a></li> -->
<!--               <li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAFF')}"> -->
<!--                 <a th:href="@{/admin/home/index}">Administration</a> -->
<!--               </li> -->
<!--             </th:block> -->
<!--             <th:block th:unless="${#request.remoteUser}"> -->
<!--             <li><a th:href="@{/security/login/form}">Sign In</a></li> -->
<!--             </th:block> -->
<!--         </ul> -->
<!--         <ul th:if="${#request.remoteUser}" class="nav navbar-nav navbar-right"> -->
<!--             <li><a href="#">Wellcome [[${#request.remoteUser}]]</a></li> -->
<!--         </ul> -->
<!--     </div> -->
<!-- </nav> -->
<!-- </div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 mb-2 ">
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNav" aria-controls="navbarNav"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav w-100">
			<li class="nav-item active"><a class="nav-link" href="/">Home
					<span class="sr-only">(current)</span>
			</a></li>
			<th:block th:unless="${#request.remoteUser}">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/security/login/form}">Sign In</a></li>
			</th:block>
			
			
			
			<th:block th:if="${#request.remoteUser}">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/security/logoff}">Sign Out</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/order/list}">Your Orders</a></li>
				<li
					th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAFF')}"
					class="nav-item"><a class="nav-link"
					th:href="@{/admin/home/index}">Administration</a>
					
					</li>
			</th:block>
			
			<li th:if="${#request.remoteUser}" class="nav-item ml-auto"><a
				class="nav-link" href="#">Welcome <span style="color: white;">[[${#request.remoteUser}]]</span></a>
				</li>
				
				
		</ul>
		<th:block th:unless="${#request.remoteUser}">
				<li  style="float: right;">
				<a th:href="@{/cart/view}">
				
				<span style="color: red;">+{{cart.count}}</span>
				<i class="fas fa-shopping-cart" style="color: orange; font-size: 20px;"></i>
				</a>
				</li>
			</th:block>
			
			<li style="float: right;" th:if="${#request.remoteUser}" class="nav-item ml-auto"><a th:href="@{/cart/view}">
				
				<span style="color: red;">+{{cart.count}}</span>
				<i class="fas fa-shopping-cart" style="color: orange; font-size: 20px;"></i>
				</a>
				</li>
	</div>
</nav>