<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="col-sm-4 mt-2 mb-2" th:each="p : ${list}" th:object="${p}">
		<div class="card p-0 border-info poly-css">
			<div class="card-header text-center bg-info text-white">
				<div class="card-title" th:text="*{name}"></div>
			</div>
			
			</div>

</body>
</html>