<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<!-- 	<main> -->
<!-- 		<div class="panel panel-primary" th:fragment="shopping-cart"> -->
<!-- 			<div class="panel-heading">SHOPPING CART</div> -->
<!-- 			<table class="table"> -->
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<th>ID</th> -->
<!-- 						<th>Name</th> -->
<!-- 						<th>Price</th> -->
<!-- 						<th>Quantity</th> -->
<!-- 						<th>Amount</th> -->
<!-- 						<th></th> -->
<!-- 					</tr> -->

<!-- 	<tr ng-repeat="item in cart.items"> -->
<!--            <td>{{item.id}}</td> -->
<!--            <td>{{item.name}}</td> -->
<!--            <td>${{item.price | number :2}}</td> -->
<!--            <td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1"></td> -->
<!--            <td>${{item.qty*item.price | number :2}}</td> -->
<!--            <td> -->
<!--                <button ng-click="cart.remove(item.id)" -->
<!-- 								class="btn btn-sm btn-danger"> -->
<!--                <i class="glyphicon glyphicon-trash"></i> -->
<!--                </button> -->
<!--            </td> -->
           
<!--    </tr> -->
<!--            </tbody> -->
<!--            </thead> -->
				
           
<!--            </table> -->
<!--             <div class="panel-footer"> -->
<!--               <button ng-click="cart.clear()" class="btn btn-danger"> -->
<!--                  <i class="glyphicon glyphicon-trash"></i> -->
<!--              </button> -->
<!--               <a th:href="@{/order/checkout}" class="btn btn-primary"> -->
<!--                 <i class="glyphicon glyphicon-hand-right"></i>Check Out -->
<!--               </a> -->
<!--            </div> -->
<!--            </div> -->
<!--        </main> -->

<main>
		<div class="panel panel-primary" th:fragment="shopping-cart">
			<div class="panel-heading">SHOPPING CART</div>
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Amount</th>
						<th></th>
					</tr>

	<tr ng-repeat="item in cart.items">
           <td>{{item.id}}</td>
           <td>{{item.name}}</td>
           <td>${{item.price | number :2}}</td>
           <td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1"></td>
           <td>${{item.qty*item.price | number :2}}</td>
           <td>
               <button ng-click="cart.remove(item.id)"
								class="btn btn-sm btn-danger">
               <i class="fas fa-trash"></i>
               </button>
           </td>
           
   </tr>
           </tbody>
           </thead>
				
           
           </table>
            <div class="panel-footer">
              <button ng-click="cart.clear()" class="btn btn-danger">
                 <i class="fas fa-trash"></i>
             </button>
              <a th:href="@{/order/checkout}" class="btn btn-primary">
                <i class="glyphicon glyphicon-hand-right"></i>Check Out
              </a>
           </div>
           </div>
       </main>
    </body>
</html>