
<div xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<main>
		<form th:action="@{/security/login}" method="post"
			class="col-sm-8 col-sm-offset-2 mx-auto mt-2">
			<div class="card border-info">
				<div class="card-header bg-info text-center">SHOPPING CART LOGIN</div>
				<div class="card-body">
					<div class="form-group">
						<label for="username">Username</label> <input type="text"
							class="form-control" name="username" id="username"
							aria-describedby="usernameHid" placeholder="Username"> <small
							id="usernameHid" class="form-text text-muted">User Name
							is required!</small>
					</div>
					<div class="form-group">
						<label for="password">Password</label> <input type="password"
							class="form-control" name="password" id="password"
							aria-describedby="passwordHid" placeholder="Password"> <small
							id="passwordHid" class="form-text text-muted">Password is
							required!</small>
					</div>
					<div class="form-check form-check-inline">
						<input id="remember-me" class="form-check-input" type="checkbox"
							name="rememeber-me" value="false"> <label
							for="remember-me" class="form-check-label">Remember Me?</label>
					</div>
					<p>Nếu chưa có tài khoản vui lòng đăng kí ?<a th:href="@{/security/register/form}"> resgister
					</a></p>
				</div>
				<div class="card-footer">
					<i th:text="${message}" class="text-danger float-left"></i>
					<button class="btn btn-primary float-right">Login</button>
				</div>
			</div>
		</form>
	</main>
</div>