<div xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<main>
		<form  th:action="@{/security/register}" method="post"
			class="col-sm-8 col-sm-offset-2 mx-auto mt-2">
			<div class="card border-info">
				<div class="card-header bg-info text-center">SHOPPING CART REGISTER</div>
				<div class="card-body">
				
				<div class="form-group">
						<label for="username">Email</label> <input type="text"
							class="form-control" name="email" id="email"
							aria-describedby="usernameHid" placeholder="email"> <small
							id="emailHid" class="form-text text-muted">Email
							is required!</small>
					</div>
					<div class="form-group">
						<label for="username">Username</label> <input type="text"
							class="form-control" name="username" id="username"
							aria-describedby="usernameHid" placeholder="Username"> <small
							id="usernameHid" class="form-text text-muted">User Name
							is required!</small>
					</div>
					<div class="form-group">
						<label for="fullname">Fullname</label> <input type="text"
							class="form-control" name="fullname" id="fullname"
							aria-describedby="fullnameHid" placeholder="fullname"> <small
							id="fullnameHid" class="form-text text-muted">full Name
							is required!</small>
					</div>
					<div class="form-group">
						<label for="password">Password</label> <input type="password"
							class="form-control" name="password" id="password"
							aria-describedby="passwordHid" placeholder="Password"> <small
							id="passwordHid" class="form-text text-muted">Password is
							required!</small>
					</div>
					
				</div>
				<div class="card-footer">
					<i th:text="${message1}" class="text-danger float-left"></i>
					<button class="btn btn-primary float-right">Register</button>
				</div>
			</div>
		</form>
	</main>
</div>