<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<!-- 	<main> -->
<!-- 	<div th:replace="~{/cart/view :: shopping-cart}"></div> -->
<!-- 		<div class="panel panel-primary"> -->
<!-- 			<div class="panel-heading">ORDER PURCHASING</div> -->
<!-- 			<div class="panel-body"> -->
<!-- 				<div class="row"> -->
<!-- 					<div class="form-group col-sm-6"> -->
<!-- 						<div>Purchaser :</div> -->
<!-- 						<div class="form-control"id="username">[[${#request.remoteUser}]]</div> -->
<!-- 					</div> -->
<!-- 					<div class="form-group col-sm-6"> -->
<!-- 						<div>Order Date :</div> -->
<!-- 						<div class="form-control">{{order.createDate | date :'dd-MM-yyyy'}}</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!--                  <div class="row"> -->
<!--                  <div class="form-group col-sm-12"> -->
<!--                  <div>Shipping Address:</div> -->
<!--                  <textarea  ng-model="order.address" class="form-control"rows="1" cols="2"></textarea> -->
<!--                  </div> -->
<!--                  </div> -->
<!-- 			</div> -->
<!-- 			<div class="panel-footer text-right"> -->
<!-- 			<button ng-click="order.purchaser()" class="btn btn-success">Purchase</button> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</main> -->

<main>
		<div th:replace="~{/cart/view :: shopping-cart}"></div>
		<div class="card mt-2 border-info">
			<div class="card-header bg-info text-white">ORDER PURCHASING</div>
			<div class="card-body">
				<div class="form row">
					<div class="form-group col-sm-6">
						<label for="purchaser">Purchaser</label>
						<div class="form-control" id="username">[[${#request.remoteUser}]]</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="orderdate">Order Date</label>
						<div class="form-control">{{order.createDate | date :
							'dd-MM-yyyy'}}</div>
					</div>
				</div>
				<div class="form-group">
					<label for="address">Shipping Address</label>
					<textarea id="address" class="form-control" name="address" rows="3"
						ng-model="order.address"></textarea>
				</div>
			</div>
			<div class="card-footer text-muted">
				<button class="btn btn-success float-right"
					ng-click="order.purchaser()">Purchaser1</button>
			</div>
		</div>
	</main>
</body>
</html>