<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/index :: dynamic(~{::main})}">
    <body>
<!--        <main> -->
<!--            <div class="panel panel-primary"> -->
<!--            <div class="panel-heading">YOU ORDER PURCHASED</div> -->
<!--            <table class="table"> -->
<!--            <thead> -->
<!--            <tr> -->
<!--            <th>No.</th> -->
<!--            <th>Order No.</th> -->
<!--            <th>Order Date</th> -->
<!--            <th>Shipping Address</th> -->
<!--            <th></th> -->
<!--            </tr> -->
<!--            </thead> -->
<!--            <tbody> -->
<!--            <tr th:each ="order,state : ${orders}"> -->
<!--            <td>[[${state.index}]]</td> -->
<!--            <td>[[${order.id}]]</td> -->
<!--            <td>[[${order.createDate}]]</td> -->
<!--            <td>[[${order.address}]]</td> -->
<!--            <td> -->
<!--            <a th:href="@{|/order/detail/${order.id}|}" class="btn btn-defaut"> -->
<!--            <b class="glyphicon glyphicon-search"></b> -->
<!--            </a> -->
<!--            </td> -->
           
<!--            </tr> -->
<!--            </tbody> -->
<!--            </table> -->
<!--            </div> -->
<!--        </main> -->

<main>
		<div class="card border-info">
			<div class="card-header bg-info text-white">
				YOUR ORDER PURCHASED
			</div>
			<div class="card-body p-0">
				<table class="table table-light">
					<thead class="thead-light">
						<tr>
							<th>No.</th>
							<th>Order No.</th>
							<th>Order Date</th>
							<th>Shipping Address</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order, state : ${orders}">
							<td>[[${state.index}]]</td>
							<td>[[${order.id}]]</td>
							<td>[[${order.createDate}]]</td>
							<td>[[${order.address}]]</td>
							<td>
								<a th:href="@{|/order/detail/${order.id}|}" class="btn btn-default">
									<i class="fas fa-search    "></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer text-muted">
				Footer
			</div>
		</div>
	</main>
    </body>
</html>